/target

/data
/scripts/tx_orderer

/scripts/execute/env.sh
/scripts/rpc-call/env.sh

/scripts/verify
/utils

**/logs/**
data_*
*.log
*.tar.gz

# tx_orderer 실험 설정값 변경 무시
scripts/execute*/env.sh
scripts/rpc-call/env.sh

*.swp
